<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ခေါင်းစဉ်</th>
      <th scope="col">စာအမှတ်</th>
      <th scope="col">အကြောင်းကြားခဲ့သည့်နေ့စွဲ</th>
    </tr>
  </thead>
  <tbody>
    <% @notification_contents.each do |notification_content| %>
      <% if Document.exists?(notification_content.details_id) %>
        <tr scope="row">
          <td><%= notification_content.noti_message %></td>
          <td><%= link_to Document.find(notification_content.details_id).document_no.to_s.to_mm, document_path(Document.find(notification_content.details_id)), class: "document_no" %></td>
          <td><%= notification_content.created_at.strftime("%d-%m-%Y") %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>