<%= link_to 'Show', obj %> | 
<% unless current_user.user_type == "viewer" %>
<%= link_to 'Edit', edit_document_path(obj) %> | 
<%= link_to 'Destroy', obj, method: :delete, data: { confirm: 'Are you sure?' }, style: "color:red" %>
<% end %>
