<aside class="mdc-drawer mdc-drawer--modal mdc-drawer--dismissible" >
    <div class="mdc-drawer__content">
        <div class="mdc-list">
            <a class="mdc-list-item mdc-list-item--activated" href="<%= documents_path %>" aria-current="page">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">drafts</i>
                <span class="mdc-list-item__text">Documents</span>
            </a>

            <% if current_user.is_super_admin? %>
                <a class="mdc-list-item" href="<%= admin_users_path %>" aria-current="page">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">admin_panel_settings</i>
                    <span class="mdc-list-item__text">Admin</span>
                </a>
            <% end %>
            <%= link_to destroy_user_session_path, class: "mdc-list-item", method: :delete do %>
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">lock</i>
                <span class="mdc-list-item__text" style="color:red">Logout</span>
            <% end %>
        </div>
    </div>
</aside>
