<!-- Image and text -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
	<img src="/images/logo.png" width="35" height="35" class="d-inline-block align-top" >
	DBE Registered Letter Document 

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
	<ul class="navbar-nav mr-auto">
	    <li class="nav-item active">
			<a class="nav-link" href="<%= documents_path  %>">Documents <span class="sr-only">(current)</span></a>
		</li>
		<% if current_user.is_super_admin? %>
			<li class="nav-item">
				<a class="nav-link" href="<%= admin_users_path  %>">Admin</a>
			</li>
		<% end %>

	</ul>
	<% unless current_user.user_type == "super_admin" %><a href="/notification_contents" class="navbar-noti">
    <i class="fas fa-bell"></i>
    <sup><span class="badge badge--theme"><%= @unread_noti_count %></span></sup>
  </a> | <% end %>
	<%= current_user.name %> |  <%= link_to "Logout", destroy_user_session_path,class: "pl-2", style: "color: red", method: :delete %>
    </div>
    
</nav>


