
<p id="notice"><%= notice %></p>
<% unless current_user.user_type == "viewer" %>
    <%# if mobile_device? %>
    <% if false %>
	<a href="<%= new_document_path %>" class="mdc-fab stick-bottom" aria-label="New">
	    <div class="mdc-fab__ripple"></div>
	    <span class="mdc-fab__icon material-icons">add</span>
	</a>
    <% end %>
    <%# else %>
	    <%= link_to 'New Document', new_document_path, class: "btn btn-success mb-3" %>
    <%# end %>
<% end %>
<%= render partial: "shared/documents_grid", locals:{ documents: @documents_json }  %>
<br>

<style>
 .table .bg-yellow th{
     background-color: #ffff1f;
     color: black;
 }
 .table .bg-green th{
     background-color: green;
 }

 <% if mobile_device? %>
 a:hover {
     color: #FFFFFF;
     text-decoration: none;
 }
 .stick-bottom{
     position: absolute;
     right: 10%;
     bottom: 10%;
 }
 <% end %>
</style>

